# MacOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env
.env.*

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Docker
*.pid
*.seed

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Misc
*.swp
*.swo